
[submodule "frontend"]
	path = frontend
	url = https://github.com/HossBigft/sysAdminToolboxFrontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/HossBigft/sysAdminToolboxBackendPublic.git
